@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/functions' as *;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 toRem(16);
    height: toRem(36);
    background-color: $primary-color-two;
    outline: none;
    border: none;
    border-radius: toRem(20);
    color: $primary-color-three;
    font-size: $labels-links-buttons;
    font-family: $font;
    font-weight: 600;

    &--special {
        padding: toRem(10.5);
        border-radius: 50%;

        @include tablet {
            padding: toRem(8) toRem(16);
            border-radius: toRem(20);
        }
    }

    @include tablet {
        font-size: $responsive-labels-links-buttons;
        width: auto;
        height: toRem(38);
        margin-left: toRem(16);
    }

    &--cancel {
        background-color: $primary-color-three;
        border: 1px solid $secondary-color-two;
        color: $secondary-color-one;
    }

    &__image {
       width: toRem(15);
    }

    &__text {

        &--special {
            display: none;

            @include tablet {
                display: block;
                padding-left: toRem(4);
            }
        }
    }
}