@use './functions' as *;
@use './typography' as *;

// Font-Family
$font: "Titillium Web";

// Font-Weight
$semi-bold: 600;
$normal: 400;

// Font-Sizes
$page-header: toRem(28);
$sub-header: toRem(20);
$labels-links-buttons: toRem(13);
$table-header: toRem(11);
$body-large: toRem(15);
$body-medium: toRem(13);
$body-small: toRem(11);
$component-pad: toRem(16);
$responsive-component-pad: toRem(24);
$responsive-page-header: toRem(32);
$responsive-sub-header: toRem(24);
$responsive-labels-links-buttons: toRem(14);
$responsive-table-header: toRem(12);
$responsive-body-large: toRem(16);
$responsive-body-medium: toRem(14);
$responsive-body-small: toRem(12);

// Colors
$primary-color-one: #13182C;
$primary-color-two: #2E66E5;
$primary-color-three: #FFF;
$secondary-color-one: #5C667E;
$secondary-color-two: #BDC5D5;
$supporting-color-one: #158463;
$supporting-color-two: #C94515;
$background-color-one: #232940;
$background-color-two: #F7F8F9;