@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/functions' as *;

.inventory-details {


    &__header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: toRem(32) toRem(28) toRem(24);
        border-bottom: 1px solid $secondary-color-two;
    }

    &__header {
        display: flex;
        
        align-items: center;
    }

    &__title {
        font-size: $page-header;
        line-height: toRem(36);
        padding-left: toRem(12);

        @include tablet {
            font-size: $responsive-page-header;
            line-height: toRem(40);
        }
    }

    &__container {
        padding: 0 toRem(24);
        
        @include tablet {
            display: flex;
            width: 100%;
            padding: toRem(24) 0;
        }
    }

    &__details-container {
        padding: toRem(16) 0;
        width: 100%;
        height: 100%;

        &:last-child {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: toRem(150);
            padding: 0 0 toRem(24);
            
        }

        @include tablet {
            padding: 0 toRem(32);
            border-right: 1px solid $secondary-color-two;

            &:last-child {
                padding: 0 toRem(32);
            }
        }

        @include desktop {
            padding: 0 toRem(40);
            border-right: 1px solid $secondary-color-two;

            &:last-child {
                padding: 0 toRem(40);
            }
        }
    }
    
    &__details {
        padding: 0 0 toRem(16);

        @include tablet {
            padding: 0 0 toRem(32);
        }
    }

    &__subtitle {
        font-size: $labels-links-buttons;
        color: $secondary-color-one;
        text-transform: uppercase;
        padding-bottom: toRem(4);

        @include tablet {
            font-size: $responsive-labels-links-buttons;
        }
    }

    &__info {
        font-size: $body-medium;

        @include tablet {
            font-size: $responsive-body-medium;
            display: inline-block;
        }

        &--status {
            font-size: $body-small;
            text-transform: uppercase;
            padding: toRem(4) toRem(8);
            font-weight: 600;
            width: auto;
            display: inline-block;
            border-radius: 20px;

            @include tablet {
                font-size: $responsive-body-small;
            }
        }

        &--in {
            color: #158463;
            background-color: rgba($color: #156384, $alpha: 0.07);
        }

        &--out {
            color: #C94515;
            background-color: rgba($color: #C94515, $alpha: 0.07);
        }
    }
}