@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/functions' as *;

.tablet-headings {
    display: none;

    @include tablet {
        display: flex;
        align-items: center;
        width: 100%;
        height: toRem(40);
        background-color: $background-color-two;
        padding: 0 toRem(32);
    }

    @include desktop {
        padding: 0 toRem(40);
    }

    &__container {
        display: flex;

        &--warehouse {
            @include tablet {
                width: 23.9%;
            }

            @include desktop {
                width: 29.5%;
            }
        }

        &--address {
            @include tablet {
                width: 19.2%;
            }

            @include desktop {
                width: 34.8%;
            }
        }

        &--contact-name {
            @include tablet {
                width: 19.4%;
            }

            @include desktop {
                width: 23.2%;
            }
        }

        &--contact-info {
            @include tablet {
                width: 32.2%;
            }

            @include desktop {
                width: 23.2%;
            }
        }

        &--actions {
            @include tablet {
                width: 6%;
                display: flex;
                justify-content: flex-end;
            }

            @include desktop {
                width: 23.2%;
            }
        }

        &--item {
            @include tablet {
                width: 29.5%;
            }
        }

        &--category {
            @include tablet {
                width: 23.8%;
            }
        }

        &--status {
            @include tablet {
                width: 23.9%;
            }
        }

        &--qty {
            @include tablet {
                width: 12.2%;
            }
        }

        &--inventory-actions {
            @include tablet {
                width: 20%;
                display: flex;
                justify-content: flex-end;
            }
        }

        &--details-item {
            @include tablet {
                width: 29.5%;
            }
        }

        &--details-category {
            @include tablet {
                width: 23.8%;
            }
        }

        &--details-status {
            @include tablet {
                width: 35.6%;
            }
        }


        &--details-actions {
            @include tablet {
                display: flex;
                justify-content: flex-end;
                width: 16%;
            }
        }

    }

    &__heading {
        font-size: $responsive-table-header;
        color: $secondary-color-one;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__sort-icon {
        width: toRem(12);
        margin-left: toRem(8.94);
    }
}



